<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="Refresh" content="6">
    <title>Heart Monitor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>

  <body>

    <div class="wrapper">
      <!-- Header -->
      <h1>Heart Monitor</h1>
      <p>A demonstration of the Heart Monitor UI. See <a href="https://github.com/sgh185/nu-microbit-base/tree/project">code</a>.</p>
    </div>

    <div class="wrapper">
      <!-- Graph + Raw data -->
      <hr>
      <div class="row">
        <div class="col-lg-8">
          <canvas id="myChart"></canvas>
        </div>
        <div class="col-lg-4">
          <div class="results">
            <ul>
              <li>Current BPM: <strong><%=raw_data[raw_data.length - 1]%></strong></li>
              <li>Rate is <span class="badge badge-<%=monitor['badge_color']%>"><%=monitor["status"]%></span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="wrapper">
      <h1 style="color:<%=monitor['action_color']%>;"><%=monitor["action"]%></h1>
    </div>

    <script>

      let y_values = <%=JSON.stringify(raw_data)%>;
      console.log(y_values);
      const x_values = Array.from(Array(y_values.length).keys());


      const data = {
        labels: x_values,
        datasets: [{
          label: 'Heart Rate',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: y_values,
        }]
      };

      const config = {
        type: 'line',
        data,
        options : {
          plugins: {
            legend: {
              display: false
            },
            title: {
              display: true,
              text: 'Heart Rate Tracking'
            },
          },
          scales: {
            x: {
              display: true,
              title: {
                display: true,
                text: 'Time Elapsed (s)'
              }
            },
            y: {
              display: true,
              title: {
                display: true,
                text: 'Beats Per Minute (BPM)'
              }
            }
          }
        }
      };

      var myChart = new Chart(
        document.getElementById('myChart'),
        config
      );

    </script>

    <!-- jQuery -->
    <script defer src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Bootstrap 4.1 -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>

</html>
